[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
scrapy-splash = "*"
inflect = "*"
feedparser = "*"
influxdb-client = {extras = ["async"], version = "*"}
aiohttp = "*"
schedule = "*"

[dev-packages]

[requires]
python_version = "3.10"
