[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
shub = "*"
scrapy = "*"
sqlalchemy = "*"
alembic = "*"
scrapy-splash = "*"
inflect = "*"
pillow = "*"
feedparser = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
